.form-control, .form-select {
    font-size: 0.9rem !important;
}

.form-control::placeholder, .form-select > option:not(:selected) {
    color: rgba(0, 0, 0, 0.5)
}

.search-table-box {
    position: relative;
    width: min(350px, 90%);
}

.search-table-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.search-table-box .search-input {
    padding-left: 30px;
    height: 39px;
    width: 100%;
}

.search-table-box .search-input::placeholder {
    color: #7e7e7e;
}

#fileList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#fileList .file-item {
    transition: all .3s linear;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

#fileList .file-item:hover {
    border-color: #d4d4d4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}


.labeled-ctd {
    background: none;
    border-radius: 50px;
    padding: .2rem 2rem;
    border: 2px solid #13ba18;
    color: #13ba18;
    font-weight: 600;
}

.select2-container {
    max-width: 100% !important;
}

.select2-container .select2-selection--single {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-container .select2-selection__rendered {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-dropdown {
    max-width: 100% !important;
    word-wrap: break-word;
}
